<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="annotation">
        <!-- <classes>
             <class name="first.FirstTestCase"/>
             <class name="second.SecondTestCase"/>
         </classes>-->

        <!--<classes>
            <class name="tcs.TC01">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="tcs.TC02"/>
        </classes>-->
        <classes>
            <class name="first.FirstTestCase"/>
            <class name="second.SecondTestCase"/>
        </classes>
    </test>
</suite>